<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        #contact {
            border: 1px solid white;
        }
        .address {
            border-bottom: 1px solid white;
        }
        .year {
            border-bottom: 1px solid white;
        }
        .add {
            border-bottom: 1px solid white;
        }
    </style>
</head>

<body>
    <div>
        <h1><strong>Primary Guardian</strong></h1>
        <h3><strong>Name: </strong></h3><p>{{firstGuardianName}} {{firstGuardianLastName}}</p>
        <h3><strong>Realation to student: </strong></h3><p>{{guardianRelation}}</p>
        <h3><strong>Gender: </strong></h3><p>{{firstGuardianGender}}</p>
        <h3><strong>Phone Number: </strong></h3><p>{{firstGuardianPhone}}</p>
        <h3><strong>Email: </strong></h3><p>{{firstGuardianEmail}}</p>
        <h3><strong>Employer: </strong></h3><p>{{firstGuardianEmplr}}</p>
    </div>

    <div id="student">
        <h1><strong>Student Info</strong></h1>
        <h3><strong>Name: </strong></h3><p>{{studentName}} {{studentLastName}}</p>
        <h3><strong>Gender: </strong></h3><p>{{studentGender}}</p>
        <h3><strong>Date of birth: </strong></h3><p>{{studentDOB}}</p>
        <h3><strong>Allergies: </strong></h3><p>{{allergies}}</p>
        <h3><strong>Illnesses: </strong></h3><p>{{illnesses}}</p>
        <h3><strong>Medications: </strong></h3><p>{{medications}}</p>
        <h3><strong>Interests: </strong></h3><p>{{interests}}</p>
    </div>

    <div id="emergency-contact">
        <h1><strong>Emergency Contact Info</strong></h1>
        <h3><strong>Name:</strong></h3><p>{{emergencyName}} {{emergencyLastName}}</p>
        <h3><strong>Phone Number:</strong></h3><p>{{emergencyPhone}}</p>
        <h3><strong>Email:</strong></h3><p>{{emergencyEmail}}</p>
    </div>

    <div id="opt">
        <h1><strong>Do they live on the island</strong></h1>
        <h3>{{optYes}}</h3>
        <h3>{{optNo}}</h3>
    </div>

    <div class="unwelcome">
        <h3><strong>Unwelcome: </strong></h3><p>{{unwelcomeName1}} {{unwelcomeLastName1}}</p>
        <h3><strong>Unwelcome: </strong></h3><p>{{unwelcomeName2}} {{unwelcomeLastName2}}</p>
        <h3><strong>Unwelcome: </strong></h3><p>{{unwelcomeName3}} {{unwelcomeLastName3}}</p>
    </div>

    <div class="second-guardian">
        <h1><strong>Secondary Guardian</strong></h1>
        <h3><strong>Name: </strong></h3><p>{{secondGuardianName}} {{secondGuardianLastName}}</p>
        <h3><strong>Realation to student: </strong></h3><p>{{guardianRelation2}}</p>
        <h3><strong>Gender: </strong></h3><p>{{secondGuardianGender}}</p>
        <h3><strong>Phone Number: </strong></h3><p>{{secondGuardianPhone}}</p>
        <h3><strong>Email: </strong></h3><p>{{secondGuardianEmail}}</p>
    </div>

    <div class="address">
        <h3></h3><p>{{address}}</p>
        <h3></h3><p>{{city}}</p>
        <h3></h3><p>{{state}}</p>
        <h3></h3><p>{{zip}}</p>
        <h3></h3><p>{{hphone}}</p>
    </div>
</body>

</html>
