<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        #contact {
            border: 1px solid white;
        }
        .address {
            border-bottom: 1px solid white;
        }
        .year {
            border-bottom: 1px solid white;
        }
        .add {
            border-bottom: 1px solid white;
        }
    </style>
</head>

<body>
    <div>
        <h1><strong>Primary Guardian</strong></h1>
        <h3><strong>Name: </strong>{{firstGuardianName}} {{firstGuardianLastName}}</h3>
        <h3><strong>Realation to student: </strong>{{guardianRelation}}</h3>
        <h3><strong>Gender: </strong>{{firstGuardianGender}}</h3>
        <h3><strong>Phone Number: </strong>{{firstGuardianPhone}}</h3>
        <h3><strong>Email: </strong>{{firstGuardianEmail}}</h3>
        <h3><strong>Employer: </strong>{{firstGuardianEmplr}}</h3>
    </div>

    <div id="student">
        <h1><strong>Student Info: </strong>{{studentName}} {{studentLastName}}</h1>
        <h3><strong>Gender: </strong>{{studentGender}}</h3>
        <h3><strong>Date of birth: </strong>{{studentDOB}}</h3>
        <h3><strong>Allergies: </strong>{{allergies}}</h3>
        <h3><strong>Illnesses: </strong>{{illnesses}}</h3>
        <h3><strong>Medications: </strong>{{medications}}</h3>
        <h3><strong>Interests: </strong>{{interests}}</h3>
    </div>

    <div id="emergency-contact">
        <h1><strong>Emergency Contact Info:</strong>{{emergencyName}} {{emergencyLastName}}</h1>
        <h3>{{emergencyPhone}}</h3>
        <h3>{{emergencyEmail}}</h3>
    </div>

    <div id="opt">
        <h1><strong>Do they live on the island</strong></h1>
        <h3>{{optYes}}</h3>
        <h3>{{optNo}}</h3>
    </div>

    <div class="unwelcome">
        <h3><strong>Unwelcome: </strong>{{unwelcomeName1}} {{unwelcomeLastName1}}</h3>
        <h3><strong>Unwelcome: </strong>{{unwelcomeName2}} {{unwelcomeLastName2}}</h3>
        <h3><strong>Unwelcome: </strong>{{unwelcomeName3}} {{unwelcomeLastName3}}</h3>
    </div>

    <div class="second-guardian">
        <h1><strong>Second Guardian: </strong>{{secondGuardianName}} {{secondGuardianLastName}}</h1>
        <h3><strong>Realation to student: </strong>{{guardianRelation2}}</h3>
        <h3><strong>Gender: </strong>{{secondGuardianGender}}</h3>
        <h3><strong>Phone Number: </strong>{{secondGuardianPhone}}</h3>
        <h3><strong>Email: </strong>{{secondGuardianEmail}}</h3>
    </div>

    <div class="address">
        <h3>{{address}}</h3>
        <h3>{{city}}</h3>
        <h3>{{state}}</h3>
        <h3>{{zip}}</h3>
        <h3>{{hphone}}</h3>
    </div>
</body>

</html>
