<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        #contact {
            border: 1px solid white;
        }
        .address {
            border-bottom: 1px solid white;
        }
        .year {
            border-bottom: 1px solid white;
        }
        .add {
            border-bottom: 1px solid white;
        }
    </style>
</head>

<body>
    <div>
        <h1><strong>From: </strong>{{firstGuardianName}} {{firstGuardianLastName}}</h1>
        <p><strong>Realation to student: </strong>{{guardianRelation}}</p>
        <p><strong>Gender: </strong>{{firstGuardianGender}}</p>
        <p><strong>Phone Number: </strong>{{firstGuardianPhone}}</p>
        <p><strong>Email: </strong>{{firstGuardianEmail}}</p>
        <p><strong>Employer: </strong>{{firstGuardianEmplr}}</p>
    </div>

    <div id="student">
        <p><strong>Student Info: </strong>{{studentName}} {{studentLastName}}</p>
        <p><strong>Gender: </strong>{{studentGender}}</p>
        <p><strong>Date of birth: </strong>{{studentDOB}}</p>
        <p><strong>Allergies: </strong>{{allergies}}</p>
        <p><strong>Illnesses: </strong>{{illnesses}}</p>
        <p><strong>Medications: </strong>{{medications}}</p>
        <p><strong>Interests: </strong>{{interests}}</p>
    </div>

    <div id="emergency-contact">
        <p><strong>Emergency Contact Info:</strong>{{emergencyName}} {{emergencyLastName}}</p>
        <p>{{emergencyPhone}}</p>
        <p>{{emergencyEmail}}</p>
    </div>

    <div id="opt">
        <p><strong>Do they live on the island</strong></p>
        <p>{{optYes}}</p>
        <p>{{optNo}}</p>
    </div>

    <div class="unwelcome">
        <p><strong>Unwelcome: </strong>{{unwelcomeName1}} {{unwelcomeLastName1}}</p>
        <p><strong>Unwelcome: </strong>{{unwelcomeName2}} {{unwelcomeLastName2}}</p>
        <p><strong>Unwelcome: </strong>{{unwelcomeName3}} {{unwelcomeLastName3}}</p>
    </div>

    <div class="second-guardian">
        <p><strong>Second Guardian: </strong>{{secondGuardianName}} {{secondGuardianLastName}}</p>
        <p><strong>Realation to student: </strong>{{secondGuardianRelation}}</p>
        <p><strong>Gender: </strong>{{secondGuardianGender}}</p>
        <p><strong>Phone Number: </strong>{{secondGuardianPhone}}</p>
        <p><strong>Email: </strong>{{secondGuardianEmail}}</p>
    </div>

    <div class="address">
        <p>{{address}}</p>
        <p>{{city}}</p>
        <p>{{state}}</p>
        <p>{{zip}}</p>
        <p>{{hphone}}</p>
    </div>
</body>

</html>
